#This file helps to keep the repository clean by preventing files such as venv/ folder or pycache from being uploaded to github
#So Github doesnt track everything, and only the important files. 

# Python Environment (Dependencies and binaries)
venv/
.venv/
env/
bin/
lib/
include/

# Python Cache (Temporary execution files)
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System Files (Desktop and editor metadata)
.DS_Store
Thumbs.db
.idea/
.vscode/

# Database Management
# Excludes temporary transaction journals while keeping the database
*.db-journal
